<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name></display-name>
  
  <!-- 인코딩 필터 등록 -->
  <filter>
	  	<filter-name>EncodingFilter</filter-name>
	  	<filter-class>filter.EncodingFilter</filter-class>
	  	<init-param>
	  	   <param-name>charset</param-name>
	  	   <param-value>utf-8</param-value>
	  	</init-param>
  </filter>
  
  <filter-mapping>
	  	<filter-name>EncodingFilter</filter-name>
	  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <!-- FrontController 등록  @WebServlet("*.do") -->
  <servlet>
  		<servlet-name>FrontController</servlet-name>
  		<servlet-class>controller.FrontController</servlet-class>
  		<init-param>
  			<param-name>location</param-name>
  			<param-value>/WEB-INF/</param-value>
  		</init-param>
  		<init-param>
  			<param-name>filename</param-name>
  			<param-value>action.xml</param-value>
  		</init-param>
  		
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>FrontController</servlet-name>
  		<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  <!-- 생략가능하다 : 생략하면 아래순서대로 참조 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>