@charset "UTF-8";

* { margin: 0; }

#main_box{
	width: 500px;
	margin: auto;
	/* background: #cccccc; */
}

#main_box > h1{
	text-align: center;
	color: #004080;
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
	font-size: 30px;
	margin: 30px;
}

#empty_message{
	text-align:center;
    color: #ff8080;	
    text-shadow: 1px 1px 1px black;
	font-weight: bold;
	font-size: 20px;
}

.content_box{
	border: 1px solid blue;
	margin-top: 20px;
	box-shadow: 2px 2px 2px black;
	
}

.content{
	min-height: 80px;
	height: auto;
	background-color: #ff80c0;
	padding: 10px;
}

.name{
	color: #004080;
}

.regdate{
	color: #004080;
}

.pwd{
	color: #004080;
}

.search{
	height: 25px;
	
}




